.container {
    background-color: #121212;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;


    .gifCont {
        width: min-content;
        max-height: 10%;
        flex-grow: 1;
        flex-basis: 10%;
        display: grid;
        justify-content: center;


        .gif {
            background-color: #121212;
            text-align: center;            
            position: relative;
            height: 100%;
            width: min-content;
            object-fit: cover;
        }
    }
}

