.container {
    background-color: #121212;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;


    .gifCont {
        flex-grow: 3;
        flex-shrink: 3;
        flex-wrap: wrap;
        flex-basis: auto;
    }
}

